{% extends "base.html" %}
{% block mainbody %}
<section id="posts" class="posts-collapse">
    <span class="archive-move-on"></span>

    <span class="archive-page-counter">
        目前共计 {{ count.post }}篇日志。
    </span>
{% include "archives_list.html" %}

  </section>
{% endblock %}


{% block js %}
    {{ block.super }}
    <script src="/static/el-pagination/js/el-pagination.js"></script>
    <script>

        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 50,
            paginateOnScrollChunkSize: 0,
            onCompleted: function(context, fragment) {
                $("article").css('opacity',1)
            }
        });
    </script>
{% endblock %}