{% extends "base.html" %}
{% block mainbody %}
        <div class="content-wrap">
                <div id="content" class="content">
                    <section id="posts" class="posts-expand">
                        {% include "index_list.html" %}
                    </section>

</div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="/static/el-pagination/js/el-pagination.js"></script>
    <script>

        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 50,
            paginateOnScrollChunkSize: 0,
            onCompleted: function(context, fragment) {
                $("article").css('opacity',1)
            }
        });
    </script>
{% endblock %}